// This import applies a global reset to any page that imports this stylesheet.
/*@import "blueprint/reset";*/

// To configure blueprint, edit the partials/base.sass file.
/*@import "partials/base";*/

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
/*@import "partials/page";*/
/*@import "partials/form";*/
/*@import "partials/two_col";*/
@import "blueprint/liquid";

// Compass Utils
@import "compass/css3/box-shadow";
@import "compass/utilities/lists/horizontal-list";
@import "compass/utilities/links/hover-link";
@import "compass/css3/border-radius";
@import "compass/css3/gradient";

@import "screen-optimised.scss";
@import "jquery-ui-1.8.11.custom.scss";

body {
  background: #E3EEFC;
  
}

#container {
/*  width: 100%;*/
}

a {
  @include hover-link;
  @include link-colors(#fff, #ff0);
}

#header {
/*  @include column(24);*/
}

#header-top {
  @include column(24,true);
  @include linear-gradient(color-stops(#31353D,#212429));
   border-top: 3px solid #055694;
   color: #EFEFEF;
   
  #quick-links {
    @include horizontal-list;
    @include prepend(3);
    @include column(15);
    a {
      @include hover-link;
      @include link-colors(#fff, #ff0);
    }
  }
  
  #user-links {
    @include column(6,true);
/*    @include append(1);*/
    text-align: right;
  }
  
}

#header-middle {
  @include column(24,true);
  @include linear-gradient(color-stops(#004578,#0085BC));
  color: #fff;
  height: 36px;
  #logo-container {
    text-transform: uppercase;
    @include push(1);
    @include column(3);
    position: absolute;
    top: 2px;
    left:0;
    vertical-align: top;
    #logo { 
      height: 24px;
      width: 98px;
      @include box-shadow(rgba(100,100,100,0.1), 1px, 1px, 1px);
    }
  }
  #search {
    @include prepend(17);
    @include column(5, true);
    float: right;
    ul { 
      text-align: right;
      @include horizontal-list;
    }
  }
}

#main-menu-container {
  font-weight:700;
  @include column(24,true);
  @include linear-gradient(color-stops(#AAD4F4, #BCDDF4));
  @include box-shadow(#999, 1px, 1px, 1px);
  #main-menu {
    ul {
      @include horizontal-list;

      li { 
        text-align: center;
        text-transform: uppercase;
      }
      a {
        padding:1px 15px 3px;
        color: #31353D;
        text-decoration: none;
      }
      a:hover {
        color: #fff;
        background: #0085BC;
        @include border-bottom-left-radius(15px);
        @include border-bottom-right-radius(15px);
/*        @include box-shadow(#3F3F3F, 1px, 1px);*/
      }
    }  
  }
}

#main-content {
  padding-top: 18px;
/*  @include prepend(1);*/
  @include column(24,true);
/*  border: 1px solid black;*/
}

#yield-container {
  @include push(1);
  @include border-radius;
  @include column(23,true);
  background: #fff;
/*  border: 1px solid #ccc;*/
  @include box-shadow(#BFBFBF, 1px, 1px, 3px)
}
#yield {
  @include push(1);
  @include column(24);
}

#page-menu {
  @include border-radius;
  @include column(4,true);

  ul.page-menu-entry {
    @include border-radius;
    @include no-bullets;
    border: 1px solid #AAD4F4;
    margin: 0;
    padding: 0;
    background: #D2E2F7;
  }
}


#footer {
  padding: 3px 0px 0px 10px;
  line-height: 17px;
  padding-bottom: 20px;
  color: #666;
}

#footer a {
  @include link-colors(#000,#880000);
}


#plate {
  @include box-shadow(#000, 2px, 2px, 5px);
  @include border-radius(15px);
  @include border-top-left-radius(0);
  /* Use transparency for the background color or FF ridge will look bad... */
  border: 3px ridge rgba(11,35,75,0.2);
  vertical-align: middle;
  text-align:     center;
  width: 900px;
  height: 600px;
/*  background:     #001F35;*/
  background:     #00416F;
/*  @include radial-gradient(color-stops(#00233C, #002B4B), top left);*/
  padding:        3px;
  color:          #fff;
}

#plate tr {
/*  padding: 6px;*/
}

#plate th {
  padding: 0;
}

#plate th {
  vertical-align: middle;
  text-align:     center;
  padding:0;
  width:65px;
  height: 15px;
}

#plate th.first-col {
  width: 15px;
/*  height: 65px;*/
}

#plate td {
  padding:0;
  margin:0;
}


#plate .well {
  height:60px;
/*  width:54px;*/
  padding: 6px;
  margin: 0;
/*  vertical-align: middle;*/
  text-align:     center;
  border: 3px ridge rgba(5,19,40,0.1);
/*  background: #003E69;*/
  @include radial-gradient(color-stops(#002F51,#003A62), top left);
  @include border-radius(15px);
}

.aliquot {
  @include border-radius(30px);
  height:40px;
  width:60px;
  padding: 20px 0 0 0;
  vertical-align: middle;
  text-align:     center;
  color:#fff;
  @include box-shadow(#00192B, 3px, 3px, 7px);
}

.aliquot:hover {
  color: #FFD600;
}

#plate .green {
  /*Moss green....*/
  background: #196D18;
  @include radial-gradient(color-stops(#00B10E, #002802), top left);
}

#plate .red {
  background:#D10000;
/*  background:rgba(209,0,0,0.75);*/
  @include radial-gradient(color-stops(#D30000,#480000), top left);
}

#plate .yellow {
  background:#FFFE8D;
  color: #282828;
}

#plate .orange {
  background:#FF7300;
  @include radial-gradient(color-stops(#FF9443,#5B1B00), top left);
}

#plate .unknown-value {
  background: #1D86AD;
  @include radial-gradient(color-stops(#289AC7, #083442), top left);
}

.tooltip {
  display:none;
  background:transparent url(/images/black_arrow.png);
  font-size:12px;
  height:70px;
  width:160px;
  padding:25px;
  color:#fff; 
}

.tooltip.bottom {
  background:url(/images/black_arrow_bottom.png);
  padding-top:40px;
  height:65px;
}

.tooltip.bottom {
  background:url(/images/black_arrow_bottom.png);
}

/* the overlayed element */
.aliquot-details {
  
  /* must be initially hidden */
  display:none;
  
  /* place overlay on top of other elements */
  z-index:10000;
  
  /* styling */
  background-color:#3F3F3F;
  @include linear-gradient(color-stops(#353535,#0F0F0F));
  
  width:600px;  
  min-height:400px;
  border:3px solid #fff;
  @include border-radius(5px);
  /* CSS3 styling for latest browsers */
/*  -moz-box-shadow:1px 1px 90px 5px #000;*/
/*  -webkit-box-shadow: 0 0 90px #000;  */
}

/* close button positioned on upper right corner */
.aliquot-details .close {
  /*Replace image with jquery-ui image*/
  background-image:url(/images/close.png);
  position:absolute;
  right:-15px;
  top:-15px;
  cursor:pointer;
  height:35px;
  width:35px;
}

div.aliquot-details h3 {
  color:#55D8FF;
  font-size:15px;
}

.aliquot-details img {
  position:absolute;
  left:15px;
  top:65px;
}


/* styling for elements inside overlay */
.details {
  position:absolute;
  top:15px;
  right:15px;
  font-size:11px;
  color:#fff;
  width:400px;
  text-align: left;
}

.image h3 {
  margin:30px 10px 10px 35px;
}

