// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
/*@import "partials/two_col";*/
@import "blueprint/liquid";

// Compass Utils
@import "compass/css3/box-shadow";
@import "compass/utilities/lists/horizontal-list";
@import "compass/utilities/links/hover-link";
@import "compass/css3/border-radius";
@include blueprint-typography;
@import "jquery-ui-1.8.11.custom.scss";

body {
  background: #E3EEFC;
  
}

.container {
/*  width: 100%;*/
}

a {
  @include hover-link;
  @include link-colors(#fff, #ff0);
}

#header {
/*  @include column(24);*/
}

#header-top {
  @include column(24,true);
  background: -moz-linear-gradient(center top , #31353D, #212429);
   border-top: 3px solid #055694;
   color: #EFEFEF;
   
  #quick-links {
    @include horizontal-list;
    @include prepend(3);
    @include column(15);
    a {
      @include hover-link;
      @include link-colors(#fff, #ff0);
    }
  }
  
  #user-links {
    @include column(5,true);
    @include append(1);
    text-align: right;
  }
  
}

#header-middle {
  @include column(24,true);
  background: -moz-linear-gradient(center top , #004578, #0085BC);
  color: #fff;
  height: 36px;
  #logo-container {
    text-transform: uppercase;
    @include push(1);
    @include column(3);
    position: absolute;
    top: 2px;
    left:0;
    #logo { 
      height: 24px;
      width: 98px;
      @include box-shadow(rgba(100,100,100,0.1), 1px, 1px, 1px);
    }
  }
  #search {
    @include prepend(18);
    @include column(5, true);
    ul { 
      text-align: right;
      @include horizontal-list;
    }
  }
}

#main-menu-container {
  font-weight:700;
  @include column(24,true);
  background: -moz-linear-gradient(center top , #AAD4F4, #BCDDF4);
  @include box-shadow(#999, 1px, 1px, 2px);
  #main-menu {
    ul {
      @include horizontal-list;

      li { 
        text-align: center;
        text-transform: uppercase;
      }
      a {
        padding:1px 15px 3px;
        color: #31353D;
        text-decoration: none;
      }
      a:hover {
        color: #fff;
        background: #0085BC;
        @include border-bottom-left-radius(15px);
        @include border-bottom-right-radius(15px);
        @include box-shadow(#3F3F3F, 1px, 1px);
      }
    }  
  }
}

#main-content {
  padding-top: 18px;
/*  @include prepend(1);*/
  @include column(24,true);
/*  border: 1px solid black;*/
}

#yield-container {
  @include push(1);
  @include border-radius;
  @include column(23,true);
  background: #fff;
/*  border: 1px solid #ccc;*/
  @include box-shadow(#BFBFBF, 1px, 1px, 1px)
}
#yield {
  @include push(1);
  @include column(24);
}

#page-menu {
  @include border-radius;
  @include column(4,true);

  ul.page-menu-entry {
    @include border-radius;
    @include no-bullets;
    border: 1px solid #AAD4F4;
    margin: 0;
    padding: 0;
    background: #D2E2F7;
  }
}


#footer {
  padding: 3px 0px 0px 10px;
  line-height: 17px;
  padding-bottom: 20px;
  color: #666;
}

#footer a {
  @include link-colors(#000,#880000);
}


.plate {
  @include box-shadow(#666, 1px, 1px, 3px);
  @include border-radius(15px);
  @include border-top-left-radius(0);
  border: 2px outset #0B234B;
  vertical-align: middle;
  text-align:     center;
  width: 850px;
  background:     #003D6B;
  background: -moz-radial-gradient(center, circle closest-corner, #00233C, #002B4B);
  padding:        5px;
  color:          #fff;
}

.plate tr {
  padding: 6px;
}

.plate th {
  vertical-align: middle;
  text-align:     center;
  padding:0;
}


.plate td {
  @include border-radius(10px);
  height:56px;
/*  width:63px;*/
  vertical-align: middle;
  text-align:     center;
  padding:0;
}

.plate .sample, .well {
  @include border-radius(10px);
  height:56px;
  width:63px;
  vertical-align: middle;
  text-align:     center;
  border: 1px solid #051328;
  color:#fff;
  
}


.plate .green {
  /*Moss green....*/
  background: #006D07;
  background: -moz-radial-gradient(center, circle closest-side, #006007, #008009);
}
  /*  */
.plate .red {
  background:#800000;
  background: -moz-radial-gradient(center, circle closest-side, #800000, #A70000);
}

.plate .yellow {
  background:#FFFE8D;
  color: #282828;
}

.plate .orange {
  background:#FF7300;
  background: -moz-radial-gradient(center, circle closest-side, #D55700, #F36C00);
}
.plate .unknown-value {
  background: #494949;
  background: -moz-radial-gradient(center, circle farthest-side, #767676, #939393);
}