<script type="text/javascript" charset="utf-8">
  <%= erb :plate_json %>
</script>

<h1>Plate Viewer - Dummy Information</h1>
<div id="plate-control" class="ui-buttonset"><h3>Plate Viewer requires JavaScript...</h3></div>
<table id="plate" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th class="first-col">&nbsp;</th>
      <% (1..12).each do |column_number| %>
        <th><%= column_number %></th>
      <% end %>
    </tr>


    <% @well_hash.each do |row_label, row_wells| %>
      <tr>
        <th class="first-col"><%= row_label %></th>
        <% row_wells.each_with_index do |well, index| %>
          <td>
            <div id="<%= "well_#{row_label}#{index + 1}" %>" class="well">
              &nbsp;
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
</table>
<br/>
<script type="text/template" id="plate-control-template">
  <form action="">
      <input id="showLocation" class="ui-helper-hidden-accessible" type="radio" checked="checked" name="radio"/>
      <label class="ui-state-active ui-button ui-widget ui-button-text-only ui-corner-left" for="showLocation" >
        <span class="ui-button-text">Location</span>
      </label>
      <input id="showConcentration" class="ui-helper-hidden-accessible" type="radio" name="radio" />
      <label class="ui-button ui-widget ui-state-default ui-button-text-only" for="showConcentration">
        <span class="ui-button-text">Concentration</span>
      </label>
      <input id="showGelQc" class="ui-helper-hidden-accessible" type="radio" name="radio" />
      <label class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" for="showGelQc">
        <span class="ui-button-text">Gel QC</span>
      </label>
      <input id="showPicoPass" class="ui-helper-hidden-accessible" type="radio" name="radio" />
      <label class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" for="showPicoPass">
        <span class="ui-button-text">Pico Pass</span>
      </label>
  </form>
</script>

<script type="text/template" id="details-template">
  <div class="aliquot-details" id="details_<%%= model.get('map') %>">
    <div class="image">
      <h3>Well <%%= model.get('map') %> Details</h3>
      <img src="/images/well_side_on.png" />
    </div>
    <div class="details">
      <h3>Sample: <%%= model.get('sample_name') %></h3>
      <table>
      <tr><th>Gel Pass:            </th><td><%%= model.get('gel_pass') %></td></tr>
      <tr><th>Current Volume:      </th><td><%%= model.get('current_volume') %></td></tr>
      <tr><th>Concentration:       </th><td><%%= model.get('concentration') %></td></tr>
      <tr><th>Picked Volume:       </th><td><%%= model.get('picked_volume') %></td></tr>
      <tr><th>Buffer Volume:       </th><td><%%= model.get('buffer_volume') %></td></tr>
      <tr><th>Requested Volume:    </th><td><%%= model.get('requested_volume') %></td></tr>
      <tr><th>Pico Pass:           </th><td><%%= model.get('pico_pass') %></td></tr>
      <tr><th>Created At:          </th><td><%%= model.get('created_at') %></td></tr>
      <tr><th>Updated At:          </th><td><%%= model.get('updated_at') %></td></tr>
      <tr><th>UUID:                </th><td><%%= model.get('uuid') %></td></tr>
      </table>
    </div>
  </div>  
</script>