<script type="text/javascript" charset="utf-8">
  <%= erb :plate_json %>
</script>

<h1>Plate Viewer - Dummy Information</h1>
<form action="">
  <div id="radioset" class="ui-buttonset">
    <input id="radio1" class="ui-helper-hidden-accessible" type="radio" checked="checked" name="radio"/>
    <label class="ui-state-active ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left" for="radio1" >
      <span class="ui-button-text">Location</span>
    </label>
    <input id="radio2" class="ui-helper-hidden-accessible" type="radio" name="radio" />
    <label class="ui-button ui-widget ui-state-default ui-button-text-only" for="radio2">
      <span class="ui-button-text">Concentration</span>
    </label>
    <input id="radio3" class="ui-helper-hidden-accessible" type="radio" name="radio" />
    <label class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" for="radio3">
      <span class="ui-button-text">Gel QC</span>
    </label>
  </div>
</form>
<br/>
<table class="plate" border="0" cellspacing="5" cellpadding="0">
    <tr>
      <th>&nbsp;</th>
      <% (1..12).each do |column_number| %>
        <th><%= column_number %></th>
      <% end %>
    </tr>


    <% @well_hash.each do |row_label, row_wells| %>
      <tr>
        <th><%= row_label %></th>
        <% row_wells.each_with_index do |well, index| %>
          <td>
            <div id="<%= "well_#{row_label}#{index + 1}" %>" class="red sample well">
              &nbsp;
            </div>     
          </td>
        <% end %>
      </tr>
    <% end %>
  
</table>

