// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-liquid-grid-columns: 24;
$blueprint-liquid-grid-width: 3.167%;
$blueprint-liquid-grid-margin: 1.042%;
$blueprint-liquid-width: 80%;
/*$blueprint-liquid-width: 100%;*/
$blueprint-liquid-container-min-width: 950px;


$blueprint-font-family: 'Lucida Grande',helvetica,arial,sans-serif;
$blueprint-font-size: 14px;